.navbar {
    height:50px; width:100%; background-color:grey; display: flex;
}

.form {
    padding-left: 10px;
}

.navbar-entry {
    color: white;  
    padding-bottom: 20px; 
    font-size: 20px;
    cursor: pointer;  
}

.entry1 {
    padding-left: 1%;
}

.entry {
    padding-left: 3%;
}

.entry:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white; 
}

.current {
    text-decoration: underline;
}